
<h1>Location</h1>
<div class="container">
	<div class="left-card">
		<% 10.times do %>
			<div class="main-card">
				<img src = "https://media.istockphoto.com/id/1216426253/photo/portrait-of-healthy-african-american-senior-woman.jpg?s=612x612&w=0&k=20&c=pJv9X0QPyKWy8-_NUc2ipYc-shPoE7yYMPS-qair2fM=">
				<div class="card-text">
				  <h2>Gertrude</h2>
				  <p>I love cooking :)</p>
				</div>
			</div>
		<% end %>
	</div>

	<img id="map" src='https://api.mapbox.com/styles/v1/mapbox/streets-v11/static/2.3381,48.8693,10.45,0,0/600x1000?access_token=pk.eyJ1IjoianVsaWFzbmQiLCJhIjoiY2w5czZsZXQyMWk3ODNvbGJ3M29zdjdzYyJ9.3MLsAvXvaTpWG2KQbc1JzA'>

</div>
