.show_container{
  max-width: 1400px;
  margin: 0 auto;

}

.show_images{
  margin: 30px;
}

.show_description{
  margin: 30px;
  padding: 0%;
}

.lower_show{
  display: flex;
  justify-content: space-between;
<<<<<<< HEAD
  // align-items: center;
  // margin: 10px;
  margin-left: 20px;
  margin-right: 5px;
  margin-bottom: 40px;
=======
  align-items: center;
  margin: 10px 40px 10px 10px;
>>>>>>> 90ce1bc96f62729c016055fa34fd304d50e29863
}

.show_rate{
  font-size: 1.5rem;
}
