<h1 hidden>_banner</h1>
<div hidden class="banner" style="background-image: url('  ');">
  <div class="container">
    <h1>Welcome to</h1>
    <h1><em>insta</em>GRAN</h1>
    <div class="banner-buttons d-flex flex-column">
      <%= link_to "sign up", "#", class: "banner-button d-flex justify-content-center align-items-center mt-3 border border-2 border-primary"%>
      <%= link_to "login", "#", class: "banner-button d-flex justify-content-center align-items-center mt-2 border border-2 border-primary" %>
    </div>
  </div>
</div>

<h1 hidden>_banner_show</h1>
<div hidden>

  <div class="d-flex justify-content-center">
    <div class="banner_show d-flex flex-row">
      <div id="banner_show_left" class=""></div>
      <div class="banner_show_middle" class="">
        <div id="middle-top"></div>
        <div id="middle-bottom"></div>
      </div>
      <div id="banner_show_right" class=""></div>
    </div>
  </div>

</div>

