<h1>_banner</h1>

<div class="banner" style="background-image: url('  ');">
  <div class="container">
    <h1>Welcome to</h1>
    <h1><em>insta</em>GRAN</h1>
    <div class="banner-buttons d-flex flex-column">
      <%= link_to "sign up", "#", class: "banner-button d-flex justify-content-center align-items-center mt-3 border border-2 border-primary"%>
      <%= link_to "login", "#", class: "banner-button d-flex justify-content-center align-items-center mt-2 border border-2 border-primary" %>
    </div>
  </div>
</div>
