// font: remove later when main font is set
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
.banner {
  font-family: 'Inter', sans-serif;
}

.banner {
  background-color: #FDE0D8;
  background-size: cover;
  background-position: center;
  padding: 30px 0;
  height: 55vh;

    p {
      font-size: 20px;
      color: white;
      opacity: .7;
      text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    }

    h1 {
      margin: 0;
      // change color when main is set
      color: #101419;
      // text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
      font-size: 64px;
      font-weight: lighter;
    }

    // change when buttons are finished
    // .banner-button {
    //   width: 200px;
    //   height: 65px;
    //   border-radius: 25px;
    // }

    .banner-button-primary {
        background-color: #F46036;
        border-radius: 25px;
        border-style: none !important;
        box-sizing: border-box;
        color: #FFFFFF;
        cursor: pointer;
        display: inline-block;
        font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 16px;
        font-weight: 500;
        height: 40px;
        width: 160px;
        line-height: 20px;
        list-style: none;
        margin: 0;
        outline: none;
        padding: 10px 16px;
        position: relative;
        text-align: center;
        text-decoration: none;
        transition: color 200ms;
        vertical-align: baseline;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
      }

      .banner-button-primary:hover,
      .banner-button-primary:focus {
        background-color: #d03b12;
        color: #ffffff;
      }

      .banner-button-secondary {
        background-color: #FDE0D8;
        border-radius: 25px;
        border-style: none !important;
        box-sizing: border-box;
        color: #F46036;
        cursor: pointer;
        display: inline-block;
        font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 16px;
        font-weight: 500;
        height: 40px;
        width: 160px;
        line-height: 20px;
        list-style: none;
        margin: 0;
        outline: none;
        padding: 10px 16px;
        position: relative;
        text-align: center;
        text-decoration: none;
        transition: color 200ms;
        vertical-align: baseline;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
      }

      .banner-button-secondary:hover,
      .banner-button-secondary:focus {
        background-color: #f2bdae;
        color: #F46036;
      }
}
