.left-card {
	display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  flex-grow: 1;
  margin: 15px;
}

#map {
  height: 100vh;
  position: sticky;
  top: 0;
}

.main-card {
  flex-grow: 1;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-grow: 1;
}