.create-form {
  background-color: #FDE0D8;
  border-radius: 25px;
  padding: 40px;
  margin: 10px;
  min-width: 250px;

  h2{
    margin: 20px;
  }
}

.form-input{
  border-radius: 25px;
  margin: 10px;
  padding: 15px;
  background-color: #FFFFFF;
  width: 100%;
}
