.everything {
  display: flex;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  flex-grow: 1;
  padding: 30px;
}

.links-card {
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.right-card {
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
}

.pay-form {
  padding: 20px;
  align-items: center;
  background-color: #FDE0D8;
  border-radius: 25px;
  color: #101419;
  width: 100%;
}

.middel-card{
  padding: 20px;

  p, label {
    font-weight: 100;
  }
}

.last-content {
  display: flex;
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.card-text {
  padding: 20px 0px;
}

.new-booking-card{
  margin: 5px;
  padding: 20px;
  background: #FDE0D8;
  border-radius: 25px;
  width: 100%;
  color: #101419;
  font-weight: 100;

  h2 {
    text-align: center;
  }

  img {
    border-radius: 25px;
    width: 100%;
    object-fit: cover;
    height: 300px;
    min-width: 150px;
  }
}

.label-pay {
  margin: 0px 0px 8px;
}

.card-number {
  margin: 0px 0px 8px;
}

.date-number {
  margin: 0px 0px 8px;
}
.cvv-number {
  margin: 0px 0px 8px;
}
