<div class="d-flex justify-content-center">
  <div class="banner_show d-flex flex-row">
    <div id="banner_show_left" class=""></div>
    <div class="banner_show_middle" class="">
      <div id="middle-top"></div>
      <div id="middle-bottom"></div>
    </div>
    <div id="banner_show_right" class=""></div>
  </div>
</div>
